<!DOCTYPE html>
<html>
<head>

    <title>Reiņa weblapa</title>

</head>
<body>


    <div>
        @RenderBody()
        <hr />
        <ol>
            <li>Nopirkt dārzeņus</li>
            <li>Nopirkt vēl kautko</li>
        </ol>
        <footer>
            <p>&copy;  - <em>Reiņa</em> .NET web aplikācija</p>
        </footer>
    </div>

</body>
</html>